.about-card {
	display: grid;
	padding: 40px 0 58px 0;
	grid-gap: 26px;
	&__heading {
	  font-family: Bebas Neue;
	  font-size: 18pt;
	  font-weight: normal;
	  font-stretch: normal;
	  font-style: normal;
	  letter-spacing: normal;
	  text-align: left;
	  color: #474747;
	}
	&__comment {
		font-family: HelveticaNeue-Medium;
	  font-size: 12px;
	  font-weight: normal;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: 1.5;
	  letter-spacing: normal;
	  text-align: left;
	  color: #9e9d9d;
	}
	&__txt {
		font-family: HelveticaNeue-Medium;
	  font-size: 12px;
	  font-weight: normal;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: 1.5;
	  letter-spacing: normal;
	  text-align: left;
	  color: #474747;
	}
}

/*MEDIA QUERIES*/
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Landscape phones and smaller */
@media (max-width: 480px) {
.about-card {
	padding: 10px 0 15px 0;
	grid-gap: 5px;
}
}