* {
	box-sizing: border-box;
	&::selection {
		background: #464646;
		color: #fafafa;
	}
}

.body {
	margin: 0 auto;

	font-size: 0;
	background-image: url(../image/bg.png);
	&__gradient-line {
		height: 5px;
	}
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}